<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css"/>
</head>
<body>
    <div>
        <h1 class="currentHousehold"><%= house.address %>, <%= house.city %>, <%= house.postcode %></h1>
        <h1 class="currentHouseholdMembers">Household members: <%= house.username %></h1>
    </div>

<div>
    <form action="/home/<%= house._id %>?_method=PUT" method="POST">
        <button class="joinHouseholdBtn">Join Household</button>
    </form>
</div>
<h1 class="allHouseholdActivites">Household activities:</h1>
<table id='activitiesTable'>
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
</tr>
<% activities.forEach(function(activity){ %>
        <div id='activityItem'>
                <td class="activitiesItem"><%= activity.title %></td>
                <td class="activitiesItem"><%= activity.description %></td>
                <td class="activitiesItem"><%= activity.startDate %></td>
                <td class="activitiesItem"><%= activity.endDate %></td>
                <td>
                    <form action="/home/<%= house._id%>?_method=DELETE" method="POST">
                        <button class="deleteActivityBtn">Delete Activity</button>
                    </form>
                </td>
            </tr>
        </div>
<% }) %>
</table>

<div>
    <form action="/home/<%= house._id %>/activities" method="GET">
        <button class="addActivityBtn">Add activity</button>
   </form>
   <input class="backBtn" name="action" type="submit" value="Back" onclick="window.history.back();"/> 
</div>
</body>
</html>

