<h1>You are logged in as <%= currentUser.username %></h1>

<label>Create a household?</label>
<form action="/home" method="POST">
    <input type="text" name="address" placeholder="Address"></input>
    <input type="text" name="city" placeholder="City"></input>
    <input type="text" name="postcode" placeholder="Postcode"></input>
    <button>Create</button>
</form>
<div>
    <select>
        <option>Select Existing Address</option>
        <% households.forEach(function(household){ %>
            <option id="addressValue"><%= household.address%>, <%= household.city %></option> 
       <% }) %>
    </select>
    <button>Save</button>
</div>

<div>
    <main>
        <% households.forEach(function(household){ %>
            <div class="householdContainer">
                    <h4 style="display: inline;"  id="householdName"><%= household.address %>, </h4>
                    <h4 style="display: inline;" id="householdName"><%= household.city %>, </h4>
                    <h4 style="display: inline;" id="householdName"><%= household.postcode %></h4>
            </div>
        <% }) %>
    </main>

</div>

<main>
    <h1>Current HouseHold</h1>
    <% households.forEach(function(household){ %>
        <a href="/home/<%= household._id %>">
        <div class="householdContainer">
                <h4 style="display: inline;"  id="householdName"><%= household.address %></h4>
                <h4 style="display: inline;" id="householdName"><%= household.city %></h4>
                <h4 style="display: inline;" id="householdName"><%= household.postcode %></h4>             
        </div>
        </a>
    <% }) %>
</main>

<a href="/home/getall">
    <p>Get all households?</p>
</a>

<a href="/profile">
    <p>View your profile</p>
</a>


<li><a href="/logout">Logout</a></li>