<h1>You are logged in as <%= currentUser.username %></h1>

<label>Create a household?</label>
<form action="/home" method="POST">
    <input type="text" name="address" placeholder="Address"></input>
    <input type="text" name="city" placeholder="City"></input>
    <input type="text" name="postcode" placeholder="Postcode"></input>
    <button>Create</button>
</form>

<main>
    <h1>Current HouseHold</h1>
    <% households.forEach(function(household){ %>
        <a href="">
        <div class="householdContainer">
                <h4 style="display: inline;"  id="householdName"><%= household.address %></h4>
                <h4 style="display: inline;" id="householdName"><%= household.city %></h4>
                <h4 style="display: inline;" id="householdName"><%= household.postcode %></h4>
                <form id="openAddress" action="/home/<%= household._id %>">
                    <button>Open</button>
                </form>
        </div>
        </a>
    <% }) %>
    
</main>


<li><a href="/logout">Logout</a></li>