<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css"/>
</head>
<body>
    <h1 class="homeGreetingMessage">Welcome <%= currentUser.username %></h1>
<div>
    <label>Create a household?</label>
<label>Create a household?</label>
<div id="createHouseForm">
    <form action="/home" method="POST">
        <input type="text" name="address" placeholder="Address"></input>
        <input type="text" name="city" placeholder="City"></input>
        <input type="text" name="postcode" placeholder="Postcode"></input>
        <button>Create</button>
    </form>
</div>
<main>
    <h1>All households</h1>
    <% households.forEach(function(household){ %>
        <a href="/home/<%= household._id %>">
        <div class="householdContainer">
                <h4 style="display: inline;"  id="householdName"><%= household.address %></h4>
                <h4 style="display: inline;" id="householdName"><%= household.city %></h4>
                <h4 style="display: inline;" id="householdName"><%= household.postcode %></h4>             
        </div>
        </a>
    <% }) %>
</main>
<a href="/profile">
    <p>View your profile</p>
</a>


<li><a href="/logout">Logout</a></li>
</body>
</html>
