<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css"/>
</head>
<body>
    <div class="homeHeader">
        <div class="headerLeft">
            <ul class="nav_list">
                <a href="/logout">Logout</a>
                <a href="/home">Home</a>
            </ul>
        </div>
</div>
    <h1 class="profilePageHeadings">Hi, <%= currentUser.username%></h1>

    <h2 class="profilePageHeadings">These are your current registered households:</h2>

<table id='addressTable'>
    <tr>
        <th>Address</th>
        <th>City</th>
        <th>Post code</th>
    </tr>
    <tr>

    <% usersHousehold.forEach(function(household){ %>
        <div class="householdContainer">
            <td class="householdName"><%= household.address %></td>
            <td class="householdName"><%= household.city %></td>
            <td class="householdName"><%= household.postcode %></td>
            <td>
                <form id="openAddress" action="/home/<%= household._id %>">
                    <button id="openHouseholdBtn">Open</button>
                </form>
            </td>
        </tr>
        </div>
    <% }) %>
</table>
<input class="backBtn" name="action" type="submit" value="Back" onclick="window.history.back();"/> 
</body>
</html>